.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40px;
}

.outer-container{
  width: 28vw;
  background-color: rgb(144, 140, 140);
  padding: 2.2rem;
  border: 1px solid #000;
  border-radius: 20px;

}
.inner-container{
  width: 23vw;
  background-color: #000;
  color: #fff;
  margin: auto;
  padding: 2.2rem;
  font-size:90px;
}

